.login{
    text-align: center;
    margin-top: 30%;
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-right: 42%;
    
}
.Logbox{
    margin-top: 5%;
    height: 500px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20%;
    width: auto;
    display: flex;
    align-items: center;
    
}
