.others {
  flex: 4;
  margin-top: auto;
  background-color: rgb(5, 255, 255);
  padding-left: 20px;
}

.container {
  display: flex;
  margin-top: 100%;
  align-items: center;
  
}
.Topbar{
margin-top: 100%;
}
