.topbar{
    width: 100%;
    height: 50xpx;
    background-color: rgb(250, 250, 250);
    margin-top: 5%;
}
.topbarwrapper{
    height: 100%;
    padding: 0px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: radial-gradient(circle, #97bff9, #b0c2fc, #c6c5fd, #dac9fc, #eccdfb, #e3d3ff, #dcd9ff, #d7deff, #bae5ff, #9cecff, #91f0e9, #a3f0c7);
   
}
.topavatar{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.topright{
    align-items: center;
    display: flex;
}
.iconbadge{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
