body{
   background-image: radial-gradient(circle, #ffffff, #fbfdff, #f5fbff, #edfaff, #e4faff, #e1faff, #ddfbff, #dafbfe, #ddfcfe, #dffdfd, #e2fefd, #e5fffd);

}
.Postcard{
   text-align: left;
   display: block;
   
 
   height: 300px;
   margin-right: 10%;
   margin-left: 10%;
   margin-top: 5%;
   max-height: fit-content ;
   
}
.commentline{
   margin-top: 0.1%;
   height: 40px;
   
   
}
.comment{
   border-top:rgb(182, 182, 182) solid 2px;
   margin-right: 10%;
   margin-left: 10%;
   height: 70px;
   background-color: #ffffff;
   border-radius:0px 0px 20px 20px ;
   border-left: rgb(182, 182, 182) solid 1px;
   border-right: rgb(182, 182, 182) solid 1px;
   border-bottom: rgb(182, 182, 182) solid 1px;
   text-align: left;
}
.addcomment{
   padding-top: 5px;
   cursor: pointer;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
   
}
