body{
   background-image: radial-gradient(circle, #ffffff, #fbfdff, #f5fbff, #edfaff, #e4faff, #e1faff, #ddfbff, #dafbfe, #ddfcfe, #dffdfd, #e2fefd, #e5fffd);

}
.Postcard{
   text-align: left;
   display: block;
   border-radius: 20px 20px 0px 0px;
 
   height: 400px;
   margin-right: 10%;
   margin-left: 10%;
   margin-top: 5%;
   max-height: fit-content ;
   
}
.commentline{
   margin-top: 0.1%;
   height: 40px;
   
   
}
.comment{
   border-top:rgb(182, 182, 182) solid 2px;
   margin-right: 10%;
   margin-left: 10%;
   height: 60px;
   background-color: #ffffff;
   border-radius:0px 0px 50px 50px ;
   border-left: rgb(182, 182, 182) solid 1px;
   border-right: rgb(182, 182, 182) solid 1px;
   border-bottom: rgb(182, 182, 182) solid 1px;
   text-align: left;
   max-height: fit-content;
  
}

.addcomment{
   padding-top: 0px;
   padding-left: 20px;
   cursor: pointer;
   margin-left: 2%;
   padding-right: 90px;
   justify-content: baseline;
   margin-bottom: 20%;
   display: flex;
}
.send{
   
   padding-top: 20px;
   padding-left: 40px;
   display: flex;
}
 .toppostbar{
   width: 100%;
   text-align: left;
   
   border-bottom : 1px solid grey;
   border-radius: 20px 20px 0px 0px  ;
   display: flex;
  
 }

 .toppostavatar {
   height: 30px;
   width: 30px;
   cursor: pointer;
   background-color: #ddfbff;
   margin-bottom: 60%;
   padding-top: 30px;
    
 }
 .username{
   margin-left: 2%;
   margin-top: 0.5%;
 }
 .content{
   text-align: left;
   margin-left: 2%;
 }